@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    font-family: "Nunito", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}